body{
    padding: 0;
}

.btn-xs{
    padding: .1rem .5rem;
    font-size: .625rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn>.fa~*{
    margin-left:.25rem;
}

.btn-primary>.fa,
.btn-danger>.fa,
.btn-info>.fa{
    color:#fff;
}

.skin-blue .sidebar-form .form-control[type="text"]{
    border:none;
}

